// 项目文件
.webmanage-project-files{
    height: 100%;
    .flex-auto{
        max-height: 100%;
    }
}
.webmanage-project-tips{
    display: flex;
    align-items: center;
    height: 40px;
    button[class~="bg-brand"]{
        background-color: rgba(@brand,10%);
        color: @brand;
        border-color: transparent;
        &:hover{
            background-color: rgba(@brand,10%);
            border-color: transparent;
        }
    }
    .right-buttonsall{
        position: relative;
        button{
            color: @white;
            background: linear-gradient(120deg, @brand 0%,lighten(@brand,30%)  100%);
            border-color: initial;
            border-radius: @border-radius-max;
            &:hover{
                color: @white;
                background-color: darken(@brand,4%);
            }
        }
        .vg-dropdowns{
            position: absolute;
            right: 1px;
            top: 3rem;
            z-index: 2;
            &-content{
                min-width: 105px;
                left: auto;
                right: 0;
            }
        }
    }
}

.project-files-contents{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
    grid-gap: 1rem 0.75rem;
    grid-auto-flow: row dense;
    align-content: start;
    overflow:hidden auto;
    flex: 1;
    >.vg-card{
        &:not(.select):hover{
            background-color: @gray-100;
            box-shadow: initial;
        }
        &.select{
            box-shadow: initial;
            background-color: @gray-100;
            border-color: @brand;
        }
    }
    .cards-content-files{
        &:hover .toolicons{
            visibility: visible;
            opacity: 1;
        }
        &:not(.select):hover{
            background-color: @gray-100;
        }
        &.select{
            background-color: @gray-100;
            border-color: @brand;
        }
    }

}
.project-files-explains{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100%;
    margin-inline-start: 1.5rem;
    padding-inline-start: 1.5rem;
    border-left: 1px solid @gray-100;
    .titles{
        display: flex;
        align-items: center;
        height: 2.5rem;
        font-size: @font-size-12;
        color: @gray-900;
        font-weight: @font-weight-lg;
        .text{
            flex: 1;
        }
        i[class~="ic-card-details"]{
            font-size: @font-size-14;
            color: @gray-800;
            cursor: pointer;
        }

    }
    .files-explains-container{
        flex: 1;
        .explains-container-default{
            position: relative;
            width: 100%;
            min-height: 100%;
            .explains-container-defaultimg{
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
                img{
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    filter: grayscale(1);
                    opacity: 0.3;
                }
                .text{
                    font-size: @font-size-12;
                    color: @gray-500;
                    text-align: center;
                }
            }
        }
    }
    .images{
        position: relative;
        width: 100%;
        min-height: 140px;
        background-color: @gray-100;
        border-radius: @border-radius-xl;
        >img{
            width: 100%;
            height: auto;
            max-height: 350px;
            object-fit: cover;
            &.images-folder{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 120px;
                height: 120px;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                border-radius: @border-radius-xl;
            }
        }
    }
    .explains{
        .names{
            font-size: @font-size-14;
            font-weight: @font-weight-lg;
            color: @gray-800;
            word-break: break-all;
        }
        .item{
            font-size: @font-size-12;
            color: @gray-600;
            font-weight: @font-weight-sm;
            word-break: break-all;
        }
        .explains-btn{
            // color: ;
            
        }
    }
}