/*
 * Name:            material
 * 
 * Description:    素材库
 * 
 * Satus:        
*/

.vg-materialfill{
    // display:flex;
    // flex-wrap: wrap;
    // gap: 24px 26px;
    // padding-inline-end: calc(-6px + #space[default];);
    //素材库-分类
    &-sort{
        display: flex;
        .vg-select{
            width: 160px;
            margin-right: 12px;
        }
    }

    //素材库-标签
    &-tag{
        display: flex;
        width: 100%;
        >span{
            #flex.row();
            width: 80px;
            justify-content: flex-end;
            column-gap: 4px;
            padding: 4px;
            height: max-content;
            color: @color-brand-1;
            cursor: pointer;
        }
        .autoflex.select ~ span i{
            transform: rotate(-90deg);
        }
        .autoflex{
            display: flex;
            // flex-wrap: wrap;
            overflow-x: hidden;
            gap: 12px;
            &.select{
                flex-wrap: wrap;
                overflow-x: initial;
            }
            >button{
                #flex.row();
                column-gap: 6px;
                position: relative;
                padding: 4px 8px;
                background:@color-bg-1;
                color: @color-font-3;
                border-radius: 6px;
                &.btn-active{
                    background:@color-brand-0;
                    color: @color-brand-1;
                    box-shadow: none;
                }
                span{
                    // #position(absolute;-8px;-8px;auto;auto;16px;16px;);
                    #flex.middle();
                    // display: none;
                    border-radius: 999px;
                    font-size: 16px;
                    color: @color-border-1;
                    &:hover{
                        color: @color-brand-1;
                    }
                }
            }
            
        }
    }

}


//
//********************************素材库
.material-dom{
    overflow: initial !important;
    flex-direction: initial !important;
    &-fills{
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &-content{
        position: relative;
        flex-grow:1;
        height: 0;
        overflow-y: scroll;
        .vg-materialfill{
            display: grid;
            gap: 24px 26px;
            grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
        }
        .vg-card-material{
            display: inline-block;
            background:@color-info-3;
            border-radius:@border-radius-large ;
            min-width: 88px;
            max-width: 180px;
            box-sizing: content-box;
            &:not(.select){
                background-color: transparent;
                cursor:pointer;
                transition: .2s;
                &:hover{
                    background-color: @color-info-3;
                }
            }
        }
    }
    .vg-folder-admin.del-folder{
        top: 0;
        height:100%;
    }
}