// .del_task{
//     overflow-x: scroll;
//     display: flex;
//     height:100%;
//     //拖拽进场、离场动效
//     &-hidden{
//         pointer-events: none;
//         transform: scaleY(0);
//     }
//     &-loading{
//         pointer-events: none;
//         &:after{
//             content: "";
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background: @white;
//             opacity: .6;
//         }
//     }
//     &-helper{
//         cursor: grabbing;
//     }

//     &-content{
//         display: flex;
//         flex-direction:column;
//         background-color: @white;
//         border-radius: @border-radius-lg;
//         margin-bottom: 0.75rem;
//         border: 1px solid @border-color-200;
//         margin-inline-end: 1.25rem;
//         transition: transform .3s;
//     }
//     &-column{
//         display: flex;
//         position: relative;
//         flex-direction: column;
//         flex:1;
//         width: calc(16.25rem + 2vw);
//         max-width: 384px;
//         min-height: 24rem;
//         min-width: 260px;
//         margin-inline-end: 0;
//         background-color: transparent;
//         border-radius: @border-radius-lg;
//         // &::before{
//         //     #position(absolute;0;auto;auto;0;100%;1.25rem;);
//         //     content:'';
//         //     cursor: grabbing;
//         //     cursor: grab;
//         // }
//     }
//     &-head{
//         display: flex;
//         align-items: center;
//         flex-wrap: wrap;
//         padding:1.25rem .75rem .75rem;
//         // border-bottom: 1px solid @color-border-2;
//         background: linear-gradient(180deg, #dbfff6, white 90%);
//         border-radius:@border-radius-lg @border-radius-lg 0 0;
        
//         .title{
//             display: flex;
//             align-items: center;
//             flex-wrap: wrap;
//             width: 100%;
//             color: @gray-500;
//             .titlename{
//                 display: flex;
//                 align-items: center;
//                 flex: 1;
//                 font-size: @font-size-20;
//                 color: @gray-800;
//                 cursor: pointer;
//                 input{
//                     #inputText(#inputPlaceholder(
//                         #funFont(#font.font13();@color-font-1;@font-blod-large;);
//                         #border_radius(100%;1.375rem;transparent;@border-radius-small;);
//                         0 #space[small];
//                         1px solid @color-border-1;
//                         @color-font-4;
//                     );@color-border-1;);
//                 }
//             }
//             .titleicon{
//                 display: flex;
//                 align-items: center
//                 #funFont(#font.font20();@color-border-1;normal);
//                 font-size: 1.375rem;
//                 cursor: pointer;
//             }
//         }
//         .span{
//             #flex.row();
//             #funFont(#font.font13();@color-border-1;normal);
//             width: 100%;
//             span{#funFont(#font.font14();@color-brand-3;normal);}
//         }
//     }
//     &-body{
//         display: flex;
//         flex: 1;
//         flex-direction: column;
//         width: 100%;
//         padding: #space[base];
//         // background: @color-font-white;
//         overflow-y: scroll;
//         .add-date{
//             #flex.row();
//             #funFont(#font.font14();@color-font-3;normal;);
//             padding: calc(#space[small];) #space[base];
//             background: @color-bg-1;
//             column-gap: #space[exsmall];
//             border: 1px solid @color-border-2;
//             border-radius: @border-radius-default;
//             cursor: pointer;
//             i{#font.font16();}
//         }
//     }
//     &-item{
//         #border_radius(auto;auto;@color-font-white;@border-radius-default;);
//         user-select: none;
//         overflow: hidden;
//         position: relative;
//         padding:calc(#space[base];) calc(#space[base];) calc(#space[base];) #space[default];
//         box-shadow: @border-shadow-base;
//         cursor: pointer;
//         transition: transform .3s;
//         &::before{
//             content: '';
//             #position(absolute;0;auto;auto;0;0.25rem;100%;);
//             background:@color-brand-1;
//         }
//         > p{
//             #clamp(normal;3;)
//         }
//         .infoMeta{
//             #flex.row();
            
//             .headTime{
//                 flex:1;
//             }
//             .headImg{
//                 span{
//                     color: @color-font-2;
//                     margin-right: 4px;
//                 }
//             }
//             .headImg.img28{
//                 #flex.row();
//                 width: 100%;
//                 .image{
//                     #border_radius(1.75rem;1.75rem;transparent;1.75rem;);
//                 }
//                 .lt{
//                     #flex.row();
//                     flex:1;
//                     button{
//                         #border_radius(auto;auto;@color-border-1;@border-radius-default;);
//                         #funFont(#font.font12();@color-font-white;normal);
//                         padding: calc(-2px + #space[exsmall];) #space[exsmall];
//                         cursor: default;
//                     }
//                 }
//             }
//         }
//         .fillsicons{
//             #flex.middle();
//             width: 28px;
//             height: 28px;
//             #funFont(#font.font14();@color-font-4;normal);
//         }
//         .infoMeta :is(.headTime,.headImg){
//             #flex.row();
//             color: @color-font-4;
//         }
//         .headTime > .icon{
//             #flex.row();
//             #font.font20();
//         }
//         .infoMeta .image{
//             #border_radius(1.25rem;1.25rem;@color-bg-1;1.25rem;);
//             overflow: hidden;
//             // filter: grayscale(1);
//             // border: 1px solid @color-border-2;
//             img{#imageRepeat(100%;100%;cover;);}
//         }
//     }
//     &-add{
//         #border_radius(16rem;fit-content;@color-bg-1;@border-radius-default;);
//         flex:0 0 auto;
//         padding:#space[small];
//         border: 1px solid @color-border-2;
//         &.dl-addcard{
//             flex:none;
//             width: auto;
//         }
//         .spantext{
//             #flex.row();
//             #funFont(#font.font14();@color-font-3;normal;);
//             column-gap: #space[exsmall];
//             cursor: pointer;
//             i{#font.font16();}
//         }
//         .spaninput{
//             #flex.row();
//             flex-wrap: wrap;
//             input{
//                 #inputText(#inputPlaceholder(
//                     #funFont(#font.font13();@color-font-1;@font-blod-large;);
//                     #border_radius(100%;2rem;transparent;@border-radius-small;);
//                     0 #space[small];
//                     1px solid @color-border-1;
//                     @color-font-4;
//                 );@color-border-1;);
//                 margin-block-end: #space[small];
//             }
//             button{
//                 #buttonText(
//                     @color-brand-1;calc(#space[exsmall];) #space[base];@border-radius-default;
//                     #funFont(#font.font14();@color-font-white;normal;center;);@border-shadow-base;
//                 );
//                 margin-inline-end: #space[base];
//                 &:first-of-type{
//                     background: @color-font-4;
//                     box-shadow: none;
//                 }
//             }
//             // i{
//             //     #funFont(#font.font16();@color-font-3;normal;center;);
//             //     cursor: pointer;
//             // }
//         }
//     }
//     &-more{
//         .productdrop {
//             position: relative;
//             .icons{
//                 #flex.row();
//                 #funFont(#font.font20();@color-border-1;normal);
//                 font-size: 1.375rem;
//                 cursor: pointer;
//             }
//             .cardproduct-dropdown{
//                 position: absolute;
//                 right: 0;
//                 top: 32px;
//                 min-width: 96px;
//                 background: #ffffff;
//                 padding: 0.5rem;
//                 border-radius: 8px;
//                 box-shadow: 0 5px 10px #01130c33;
//                 z-index: 2;
//                 >span{
//                     display: flex;
//                     align-items: center;
//                     font-size: 14px;
//                     line-height: calc(14px + .5rem);
//                     color: #343d39;
//                     font-weight: 400;
//                     text-align: left;
//                     padding: 0.25rem 0.5rem;
//                     min-width: max-content;
//                     &:hover{
//                         background: rgba(152, 152, 152, 0.08);
//                         border-radius: 4px;
//                         cursor: pointer;
//                     }
//                     &:last-child{
//                         color: @color-error-1;
//                     }
//                 }
//             }
//         }
//     }
// }

// // .del_task .del_task-item.di-info::before{background: @color-info-1}  /*已完成*/
// // .del_task .del_task-item.di-brand::before{background: @color-brand-1} /*正常*/
// .del_task .del_task-item.di-warn::before{background: @color-warn-1} /*重要*/
// .del_task .del_task-item.di-error::before{background: @color-error-1} /*非常重要*/


// // 添加成员
// .del_task.di-addpeople{
//     height: auto;
//     .del_task-item{
//         #funFont(#font.font16();@color-font-3;normal;);
//         #flex.row();
//         padding:#space[base];
//         background: @color-bg-1;
//         border: 1px solid @color-border-2;
//         box-shadow: none;
//         cursor: default;
//         &:hover .rgt{
//             i{#visibility(visible;1);}    
//         }
//         .infoMeta{
//             width: 100%;
//         }
//         .addtxt{
//             flex: 1;
//             #font.font13();
//         }
//         &.di-bgnone{
//             cursor: pointer;
//         }
//         &::before{
//             display: none;
//         }
//         .rgt{
//             #flex.row();
//             color: @color-error-1;
//             cursor: pointer;
//             i{#visibility(hidden;0)}
//             i:hover{#visibility(visible;1);}
//         }
//     }
// }

.taskpane{
    overflow-x:hidden;
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: 1.5rem 2rem 0.75rem 1.5rem;
    transition: transform .3s;
    // 顶部title
    &-tip{
        color:@gray-800;
        &-add{
            color: @white;
            background: linear-gradient(120deg, @brand 0%,lighten(@brand,30%)  100%);
            border-color: initial;
            border-radius: @border-radius-max;
            &:hover{
                color: @white !important;
                background-color: darken(@brand,4%) !important;
            }
        }
    }

    //内容
    &-content{
        position: relative;
        overflow-x: auto;
        display: flex;
        height:100%;
        gap: 0 1.5rem;
        padding-block-end: 0.75rem;
        .scrollbar();
    }
    // task面板
    &-item{
        display: flex;
        position: relative;
        width: calc(16.25rem + 1vw);
        border-radius: 0.5rem;
        max-width: 18.75rem;
        min-height: 24rem;
        min-width: 16.25rem;
        flex: 1;
        margin-inline-end: 0;
        // border: 1px solid @border-color-200;
        background-color: @gray-100;
        border-radius: @border-radius-lg;
        &-footer .addtask{display: none;}
        // &:first-child &-footer .addtask{display: flex;}
        &-header{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 0.625rem 0.5rem;
            // background: linear-gradient(180deg, #dbfff6, white 90%);
            border-radius: @border-radius-lg;
            .viewtask{
                // border: 1px solid @border;
            }
        }
        &-body{
            position: relative;
            display: flex;
            flex: 1;
            flex-direction: column;
            width: 100%;
            padding: 0.5rem;
            overflow-y: auto;
            gap: 0.75rem 0;
            .scrollbar();
            .vg-card-task{
                // 状态色
                &.taskcard-brand::after{background-color: @brand;}
                &.taskcard-warn::after{background-color: @warn;}
                &.taskcard-error::after{background-color: @error;}

                // 移动时显示的线条
                // &.move-line::before
                // &{
                //     margin-top: 100%;
                    
                // }
                &.move-line::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0.25rem;
                    background-color: rgba(@black, .14);
                }
            }
        }
        &-footer{
            display: flex;
            align-items: center;
            font-size: 0.875rem;
            line-height: calc(0.875rem + .5rem);
            color: #a3b0ac;
            font-weight: normal;
            text-align: left;
            padding: .5rem .75rem;
            // background: #F6F9F8;
            column-gap: .25rem;
            // border: 1px solid #DAE1DE;
            border-radius: 0.25rem;
            user-select: none;
        }
    }
    
}